@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
  /* Hide interactive UI */
  .no-print {
    display: none !important;
  }

  /* Show print-only content */
  .print-only {
    display: block !important;
  }

  /* Optionally adjust the print-only content styling */
  .print-only .print-preview {
    width: 100% !important;
    height: auto !important;
    position: static !important;
  }
}
